.mo-email-content__add_new {
    text-align: center;
}

button.mo-add-new-email-element {
    width: 80%;
}

.mo-email-content-widget {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    margin: 0px auto 10px;
}

.mo-email-content-widget-top {
    position: relative;
    color: rgb(35, 40, 45);
    line-height: 1.4em;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-image: initial;
    transition: opacity 0.5s;
}

.mo-email-content-part-widget {
    cursor: move;
}

.mo-email-content-part-widget:hover {
    border-color: #999;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.mo-email-content-widget-action {
    display: inline-block;
    color: rgb(114, 119, 124);
    cursor: pointer;
    background-color: transparent;
    padding: 8px 10px;
    margin: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0px;
}

.mo-email-content-block {
    margin: 10px 0;
}

.mo-email-content-widget-action .toggle-indicator {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
}

.mo-email-content-widget-action .toggle-indicator:before {
    display: block;
    content: '\f140';
    font: normal 20px/1 dashicons;
    padding: 1px 2px 1px 0px;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

.mo-email-content-widget-expanded .toggle-indicator:before {
    content: '\f142';
}

.mo-email-content-widget-action:focus .toggle-indicator:before {
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}

.mo-email-content-part-widget-title-action {
    float: right;
    cursor: pointer;
}

.mo-email-content-expand-collapse-wrap {
    text-align: right;
    font-weight: normal;
    font-size: 11px;
    margin: 5px 0;
}

.mo-email-content-widget-title h3 {
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    font-size: 13px !important;
    margin: 0px;
    padding: 13px 15px;
    overflow: hidden;
}

.mo-email-content-part-widget.mo-email-content-widget-expanded .mo-email-content-widget-content {
    display: block;
}

.mo-email-content-widget-content .mo-email-content-widget-form .customize-control-title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}

.mo-email-content-widget-form {
    padding: 0px 10px 10px;
}

.mo-email-content-part-widget .mo-email-content-widget-content {
    display: none;
}

.mo-email-content-widget-content {
    line-height: 16px;
    padding: 0;
    background: rgb(255, 255, 255);
    border-width: 0px 1px 1px;
    border-style: solid solid solid;
    border-color: rgb(229, 229, 229) rgb(229, 229, 229) rgb(229, 229, 229);
    border-image: initial;
    border-top: 0px;
}

.mo-email-content-widget-actions {
    padding-bottom: 5px;
}

a.mo-email-content-form-remove, a.mo-email-content-delete {
    color: rgb(170, 0, 0);
}

.customize-control textarea {
    width: 100%;
}

/* increase customizer sidebar width*/
.wp-full-overlay.expanded form#customize-controls.wp-full-overlay-sidebar {
    width: 25%;
}

div#customize-footer-actions {
    width: calc(25% - 1px) !important;
}

.wp-full-overlay.expanded {
    margin-left: 350px !important;
}

/* */

.mo-email-content-elements-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

li#customize-control-mo_email_campaigns-30-email_newsletter_content {
    position: relative;
}

.search-form input {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .07) 0 1px 2px inset;
    color: #a2a2a2;
    display: block;
    font-size: 14px;
    line-height: normal;
    margin: 1px 0 7px;
    max-width: none;
    outline: 0;
    padding: 8px 14px;
    transition-delay: 0s;
    transition-duration: 50ms;
    transition-property: border-color;
    transition-timing-function: ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.list--secondary {
    padding: 0;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

li.list__item.element--box {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    line-height: 21px;
    margin: 0 0 4px;
    padding: 10px 15px 11px;
    position: relative;
    transition-delay: 0s;
    transition-duration: 150ms;
    transition-property: box-shadow;
    transition-timing-function: linear;
}

li.list__item.element--box:hover {
    box-shadow: rgba(0, 0, 0, .118) 0 1px 6px, rgba(0, 0, 0, .118) 0 1px 4px;
}

li.list__item.element--box span.dashicons {
    padding-right: 0.75em;
    float: left;
    -webkit-font-smoothing: antialiased;
}

.list .element__wrap {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.list .element .list__label {
    padding-bottom: 5px;
    color: inherit;
    margin: 0;
}

.list--secondary .list__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.list .element__description {
    display: block;
    color: #777;
    font-size: 12px;
}

.mo-email-content-elements-back {
    margin: 0 0 5px;
}

.mo-email-content-elements-back a {
    margin-left: 1px;
}

.mo-email-content-modal-tabs {
    border-bottom: 1px solid #efefef;
}

.mo-email-content-modal-tabs .tabs .tab {
    padding: 1px 10px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
}

.mo-email-content-modal-tabs .tabs .tab.is-active {
    border-bottom: 2px solid #ddd;
}

.mo-email-content-modal-tabs .tabs .tab h3 {
    font-size: 12px !important;
    margin: .7em 0;
    color: #74787e;
}